*
  background-color: black
  color: white

.open ul
  visibility: visible
  display: block

.closed ul
  visibility: hidden
  display: none

img
  width: 100%

img:hover
  filter: hue-rotate(90deg) // could add an svg filter to use here for the blueness

footer
  text-align: end

.image
  margin-bottom: 50px

.bar
  display: flex
  justify-content: space-between

@media screen and ( min-width: 400px )
  .full-width
    grid-column: 1 / 11
    width: 100vw
    position: relative
    left: 50%
    right: 50%
    margin-left: -50vw
    margin-right: -50vw

  .page
    display: grid
    grid-template-columns: repeat(10, 10%)
    width: 95%
    margin: 0 auto

  .closed ul
    visibility: visible
    display: block

  .hamburger
    display: none
